apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    io.kompose.service: {{ .Release.Name }}-form-file-upload-mongo-data
  name: {{ .Release.Name }}-form-file-upload-mongo-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 200Mi
  storageClassName: {{ .Values.mongoStorageClassName }}
status: {}
